[user]
	name = Nuri Jung
	email = jnooree@snu.ac.kr
	signingkey = D5BDFF67E90BACBE!
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = true
[merge]
	ff = false
	autoStash = true
[init]
	defaultBranch = main
[core]
	quotepath = false
[commit]
	gpgsign = true
	template = ~/.dotfiles/.gitmessage
[tag]
	gpgsign = true
[submodule]
	recurse = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[log]
	date = format-local:%F %I:%M %p
[diff]
	wordRegex = [a-zA-Z0-9_-]+
	algorithm = patience
[pager]
	diff = diff-highlight | less
	log = diff-highlight | less
	show = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[rerere]
	enabled = true
	autoupdate = true
[maintenance]
	repo = /home/jnooree/nurikit/current
	repo = /home/jnooree/repo/seoklab/GalaxyMol
[stash]
	showIncludeUntracked = true
[rebase]
	autoSquash = true
	autoStash = true
	rebaseMerges = true
[advice]
	skippedCherryPicks = false
	forceDeleteBranch = false
[fetch]
	prune = true
[branch]
	autoSetupMerge = simple
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
