[user]
	name = Nuri Jung
	email = jnooree@snu.ac.kr
	signingkey = D5BDFF67E90BACBE!
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[pull]
	ff = only
[merge]
	ff = false
[init]
	defaultBranch = main
[core]
	quotepath = false
[commit]
	gpgsign = true
	template = ~/.dotfiles/.gitmessage
[tag]
	gpgsign = true
[submodule]
	recurse = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[log]
	date = format-local:%F %I:%M %p
