zmodule input
zmodule utility
zmodule jnooree/rcode
zmodule zsh-users/zsh-completions -f src
zmodule jnooree/conda-zsh-completion
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule jnooree/zim-cfg -n jnooree
zmodule jnooree/jnooree-zsh-theme -s jnooree.zsh-theme
